*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Trebuchet MS';
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: #90ee90;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
}
.logo h1{
    color: #ffffff;
    position: relative;
    font-weight: 900;
}
.logo h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #ffffff;
}
.logo h1:hover::after{
    transition: all ease 1s;
    width: 100%;
}
.panel{
    height: 85%;
    width: 75%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
}
.top{
    width: 100%;
    height: 13vh;
    background-color: #438543;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}
.display{
    display: flex;

}
.elem{
    gap: 12px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}
.box{
    width:35px;
    padding: 7px 0px;
    color: #438543;
    font-weight: 800;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom {
    padding: 10px;
    width: 100%;
    height: calc(100% - 13vh); 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #fff;
    overflow: hidden; 
}

.bubble {
    height: 40px;
    width: 40px;
    background-color: #438543;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    font-weight: 600;
    flex-wrap: wrap;
}

.bubble:hover{
    background-color: #396d39;
    cursor: pointer;
}
.gameover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.gameover h1{
    font-size: 50px;
    color: #396d39;
    font-weight: 900;
}
.gameover h3{
    color: #396d39;
    font-weight: 900;
    margin-bottom: 15px;
}
.gameover a{
    font-size: 20px;
    text-decoration: none;
    background-color: #396d39;
    color: #fff;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.conclusion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 20px;
    text-decoration: none;
}
.conclusion a,i{
    text-decoration: none;
    color:#396d39;
    font-weight: 800;
    font-size: 20px;
}

@media (max-width:700px) {
    .panel{
        width:100%;
    }
    .top{
        font-size: 12px;
        flex-direction: column;

    }
    .top .logo{
        font-size: 10px;
        
    }
    .top .display{
        justify-content: center;
        align-items: center;
    }
    .elem{
        gap: 10px;
    }
    
    .bubble {
        height: 30px;
        width: 30px;
    }

    .bottom {
        gap: 3px;
    }
    
}